{% extends "base.html" %}

{% block content %}

    <h4>{{request.user}}'s bookmarks</h4>
    <br>
<div class="table-responsive">
<table class="table">
    <th>title</th>
    <th>url</th>
    <th>clicks</th>
    <th>private</th>
    <th>edit</th>
    <th>delete</th>
    <tbody></tbody>
{% for bookmark in object_list %}
        <tr>
        <td>{{ bookmark.title }}</td>
        <td><a href="{% url 'redirect_view' bookmark.hashid %}">emi.ly/{{ bookmark.hashid }}</a></td>
        <td>{{ bookmark.click_count }}</td>
         <td>{{ bookmark.private }}</td>
        {% if bookmark.user == request.user %}
            <td><a class='btn btn-default' href="{% url 'update_view' pk=bookmark.id %}">edit</a></td>
            <td><a class='btn btn-default' href="{% url 'delete_view' pk=bookmark.id %}">delete</a></td>
        {% else %}
            <td></td>
            <td></td>
        {% endif %}

        </tr>
    {% endfor %}

</table>
</div>

{% endblock %}
