{% extends "base.html" %}

{% block content %}
    <ul>
    {% for bookmark in object_list %}
    <li>
        {{ bookmark.description }}
         <span><a href="{% url 'redirect_view' bookmark.hashid %}">emi.ly/{{ bookmark.hashid }}</a></span>
        <span><a href="{% url 'update_view' pk=bookmark.id %}">edit</a> /</span>
        <span><a href="{% url 'delete_view' pk=bookmark.id %}">delete</a></span>
        <span>Click Count: {{ bookmark.click_count }}</span>
    </li> 


    {% endfor %}
</ul>
{% endblock %}

